/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: url('media/user.webp') no-repeat center center fixed;
    background-size: cover;
}

body::after {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.9); /* 10% faded overlay */
    pointer-events: none;
    z-index: -1;
}

/* Language Switcher */
.language-switcher {
    display: flex;
    justify-content: center;
    padding: 10px;
}

.language-switcher button {
    background-color: #444;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 0 5px;
    cursor: pointer;
    font-size: 18px;
    display: flex;
    align-items: center;
}

.language-switcher button:hover {
    background-color: #666;
}

.language-switcher .flag {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

/* Navigation Styles */
nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
    background-color: #333;
}

nav li {
    margin: 0 10px;
}

nav a {
    text-decoration: none;
    color: white;
    padding: 15px 20px;
    display: block;
}

nav a:hover {
    background-color: #555;
}

/* Media Gallery */
.media-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.media-item {
    margin: 10px;
    text-align: center;
}

.media-item img, .media-item video {
    max-width: 100%;
    height: auto;
}

/* Footer Styles */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px 0;
}
